In [4]:
import pandas as pd

In [8]:
# We take an input from the user expected to be something that can be coerced into a float

price = input("Please enter a price and we will calculate what you would pay after tax.")

Please enter a price and we will calculate what you would pay after tax. hamburger

In [9]:
# This is designed to help students understand try/catch logic (this can be referred to as try/except)

# The try clause contains a block of code to attempt to run, leading to a couple of paths upon which the logic can travel down
try:
    
    # The block of code attempted to be run, if this does not error we go down to the else clause (if one exists,) if this does error we access an 
    # except clause
    output = (1.06 * float(price))
    
# This except block specifies ValueError and will only execute if a Value Error is thrown by the interpreter after running the try clause. A signle try
# clause can be followed by as many except clauses as you need, which is useful if you want to handle different errors differently. 
except ValueError:
    
    # This is code to be executed if a ValueError was thrown when executing the try clause
    print("I'm sorry, that can not be coerced into an integer, we have encountered a value error.")
    
# An except clause not specifying an error will execute when any error is thrown. Since there is an except above that runs when a ValueError is thrown
# this except clause will fire for any error other than a ValueError. If a ValueError is thrown only the above except clause fires
except:
    
    # This is code is to be executed if an error other than ValueError is thrown
    print("We have encountered an unknown error.")
    
# The else clause fires only if there is no error in the try block. This is specifically for logic to be executed in the absence of an error. It is
# desirable for this to run, but it may not always do so. This is not mandatory but you will likely see it the majority of the time.
else:
    
    # The logic to be executed in the absence of an error
    print('$' + str(round(output, 2)) + " is the price after tax")
    
# The finally block following the finally clause should execute regardless of whether there is an error or not. Finally is not mandatory but gives an
# outlet for code you may want to run regardless of whether there is an error.
finally:
    
    # The code to be executed regardless of error at the end of the try/catch logic
    print("Thank you for using our tax calculator.")

I'm sorry, that can not be coerced into an integer, we have encountered a value error.
Thank you for using our tax calculator.

In [13]:
# This cell illustrates a variety of (coded out) potential errors that you could choose to explicitly catch with except *error type* or allow to be 
# caught in a blanket except clause

# introduces the try clause
try:
    # coded out errors are below, you can uncomment and run to learn more about the errors associated with the code
    # price[11]
    # int('hamburger')
    # you + me
    # 10 / 0   
# except ValueError:
#     print("I'm sorry, that can not be coerced into an integer, we have encountered a value error.")
# except ZeroDivisionError:
#     print("I'm sorry, you can not divide by zero.")
# This prints the error type should you not choose to introduce an except clause specific to that error type
except Exception as e:
    print('This error is a(n) ' + str(type(e)))

This error is a(n) <class 'ZeroDivisionError'>

In [17]:
# Take an input from the user explicitly asking for the integer 5
num = input("Please type '5'!")

Please type '5'! 5

In [18]:
# If the user supplied input is not 5 then raise an error
if int(num) != 5:
    # Raise an error with the message 'oh man, that's not 5!
    raise Exception("Oh man, that's not 5!")
# If the user does enter 5 then let them know they were correct
else:
    # Good job
    print("Sweet!")

Sweet!

In [20]:
df = pd.read_csv('c:/users/bourb/downloads/Supplemental_Data_07_08.csv')

df.columns = ['Date', 'Galaxy_Sentiment', 'Cooktop_Promo', 'Showtime_Promo',
       'Google_Trends_Score', 'inflation',
       'Electronics and Appliances Quarterly Retail Sales', 'Personal_Income',
       'Percent Change in PCE']

df = df.drop(['Cooktop_Promo', 'Showtime_Promo'], axis='columns')

df = df.set_index('Date')

df

,Galaxy_Sentiment,Google_Trends_Score,inflation,Electronics and Appliances Quarterly Retail Sales,Personal_Income,Percent Change in PCE
Date,,,,,,
2022-01-01,73.0,13,6.0,12837,21205.7,0.5
2022-01-02,75.0,94,6.0,12837,21205.7,0.5
2022-01-03,71.0,94,6.0,12837,21205.7,0.5
2022-01-04,74.0,94,6.0,12837,21205.7,0.5
2022-01-05,70.0,94,6.0,12837,21205.7,0.5
...,...,...,...,...,...,...
2022-12-27,74.0,100,5.7,15871,22281.9,0.2
2022-12-28,74.0,100,5.7,15871,22281.9,0.2
2022-12-29,74.0,100,5.7,15871,22281.9,0.2
2022-12-30,74.0,100,5.7,15871,22281.9,0.2
2022-12-31,74.0,100,5.7,15871,22281.9,0.2