<h1 align='center'>SQL Views</h1>

<h3>What is a View?</h3>

**In SQL, a view is a virtual table based on the result-set of an SQL statement.**

**A view contains rows and columns, just like a real table. The fields in a view are fields from one or more real tables in the database.**

**You can add SQL statements and functions to a view and present the data as if the data were coming from one single table.**

https://www.w3schools.com/sql/sql_view.asp
    
**I'll add additionally views are stored in a DBMS so they persist for utilization into the future. Additionally, if new data were to come into the tables that the view is built off of that data will be present when the view is run in the future. So, essentially, a view is a saved query that you can access via the DBMS at your leisure**

**Views by default do not return the query results to the console, however you can write SELECT, INSERT, UPDATE, or DELETE statements against a view as if it were any other table. Each time the view is queried the SQL that created it is run fresh to reflect the current state of it's results**

<h3>Declaring a View</h3>

**To declare a view we simply issue 'CREATE VIEW' then provide a name for the view and issue 'AS' then write the SQL statement that the view will be created from. This looks like so:**

CREATE VIEW Top3_Crimes_40211 AS

SELECT CRIME.OFFENSE_CLASSIFICATION, COUNT(*)

FROM CRIME

INNER JOIN LOCATION ON CRIME.OBJECT_ID = LOCATION.OBJECT_ID

WHERE LOCATION.ZIP_CODE = 40211

GROUP BY CRIME.OFFENSE_CLASSIFICATION

ORDER BY COUNT(*) DESC

LIMIT 3;

**We'd then have to write a SELECT statement against this view to see it's results in the console. This would look like:**
    
SELECT *

FROM Top3_Crimes_40211

**I don't want to go into great detail about views here, but this is a concept that you should know as it is pretty common to use them in SQL work.**

<h1 align='center'>Subqueries</h1>

<h3>What is a Subquery?</h3>

**In SQL a Subquery can be simply defined as a query within another query. In other words we can say that a Subquery is a query that is embedded in WHERE clause of another SQL query. Important rules for Subqueries:**
    
- You can place the Subquery in a number of SQL clauses: WHERE clause, HAVING clause, FROM clause. Subqueries can be used with SELECT, UPDATE, INSERT, DELETE statements along with expression operator. It could be equality operator or comparison operator such as =, >, =, <= and Like operator.
    
- A subquery is a query within another query. The outer query is called as main query and inner query is called as subquery.

- The subquery generally executes first when the subquery doesnâ€™t have any co-relation with the main query, when there is a co-relation the parser takes the decision on the fly on which query to execute on precedence and uses the output of the subquery accordingly.

- Subquery must be enclosed in parentheses.

- Subqueries are on the right side of the comparison operator.

- Use single-row operators with single row Subqueries. Use multiple-row operators with multiple-row Subqueries.

https://www.geeksforgeeks.org/sql-subquery/
    
**Subqueries and views are pretty interchangeable concepts in that they both can create a subset of data which can then be inserted into a query. It is common for example if you want to filter for records that are above the average in a numeric column, you could write a subquery that computed the average and insert it into the where clause like:**

SELECT numeric_column

FROM TABLE

WHERE numeric_column > **(SELECT avg(numeric_column) FROM TABLE)**

**To try to make this more clear I'll provide an example of a query with a subquery:**

SELECT OFFICER.BADGE_ID, COUNT(*)

FROM CRIME

INNER JOIN OFFICER ON CRIME.OBJECT_ID = OFFICER.OBJECT_ID

INNER JOIN LOCATION ON CRIME.OBJECT_ID = LOCATION.OBJECT_ID

WHERE LOCATION.BLOCK_ADDRESS = **(SELECT LOCATION.BLOCK_ADDRESS --Subquery begins at the opening parenthesis**
                                
**FROM CRIME**
                                
**INNER JOIN LOCATION ON CRIME.OBJECT_ID = LOCATION.OBJECT_ID**
                                
**INNER JOIN DATE ON CRIME.OBJECT_ID = DATE.OBJECT_ID**
                                
**WHERE LOCATION.ZIP_CODE = 40217 AND DATE.DATE_REPORTED >= '2024-01-01'**
                                
**GROUP BY LOCATION.BLOCK_ADDRESS**
                                
**ORDER BY COUNT(*) DESC**
                                
**LIMIT 1)**

GROUP BY OFFICER.BADGE_ID

ORDER BY COUNT(*) DESC

LIMIT 5

**In this example the inner query or subquery (the one within the parentheses) SELECTS a block address and returns it in the where condition where the main condition filters for rows that contain that block address.**

**Subqueries can be nested much like if/else logic in Python and this can get meta. They are very useful however when you need to pass data into a query that will be obtained from another query.**